<!DOCTYPE html>
<html>
    <head>
        <title>Student Portal</title>
        <link rel = "icon" href = "/img/favicon.png">
        <link rel = "stylesheet" href = "/css/styles.min.css">
    </head>
    <body>
        <div class = "chat">
            <div id = "sidebar" class = "chat__sidebar">
                <h3> Personal Details</h3>
                <br>
                <h4> MIS</h4>
                <p> <%= MIS %></p>
                <br>
                <h4> Name</h4>
                <p> <%= fname %> <%= lname %></p>
                <br>
                <h4>Department</h4>
                <p><%= dept_name %></p>
                <br>
                <h4> Zip-code</h4>
                <p> <%= zipcode %></p>
                <br>
                <h4> Phone Number</h4>
                <p> <%= phone %></p>
                <br>
                <h4> City</h4>
                <p><%= city %></p>
                <br>
                <h4> State</h4>
                <p><%= state %></p>
                <br>
                <a href = "/update">make changes</a>
            </div>
            <div class = "chat__main">
                <div id = "messages" class = "chat__messages">
                    <h3>Payment Details</h3>
                    <br>
                    <p><u>ID</u>: <%= transaction_id %></p>
                    <br>
                    <p><u>Year</u>: <%= fees_year %></p>
                    <br>
                    <p><u>Amount</u>: <%= fees_amount %></p>
                    <br>
                    <p><u>Status</u>: <%= fees_status %></p>
                    <br>
                    <h3>Attendance Record</h3>
                    <br>
                    <ul>
                        <% for(var i=0; i<attendance_semester.length; i++) { %>
                            <li>
                                <u>Present</u>: <%= attendance_days_present[i] %>|
                                <u>Total Working Days</u>: <%= attendance_tot_days[i] %>|
                                <u>Semester</u>: <%= attendance_semester[i] %>
                            </li>
                            <br>
                        <% } %>
                    </ul>
                    <p></p>
                    <br>
                    <h3>Academic Details</h3>
                    <br>
                    <h4>Performance</h4>
                    <br>
                    <ul>
                        <% for(var i=0; i<acad_result_id.length; i++) { %>
                            <li>
                                <u>Result ID</u>: <%= acad_result_id[i] %> 
                            </li>
                            
                            <li>
                                <u>CGPA</u>: <%=acad_cgpa[i] %>|   <u>Semester</u>: <%= result_semester[i] %>
                            </li>
                            <br>
                        <% } %>
                    </ul>
                    <br>
                    <h4>Course wise performance</h4>
                    <br>
                    <ul>
                        <% for(var i=0; i<acad_course_id.length; i++) { %>
                            <li>
                                <u>ID</u>: <%= acad_course_id[i]%>   |<u>Title</u>: <%= acad_title[i] %>   |<u>Credits</u>: 3   |<u>Grade</u>: <%= acad_grades[i] %> 
                            </li>
                            <br>
                        <% } %>
                    </ul>
                </div>
                    
                <div class = "compose">
                   
                </div>
                
            </div>
        </div>
       
    </body>
</html>